
<table id="parkingspots">
  <thead></thead>
  <tbody>
    <% lot = @parkinglot %>
    <% count = 0 %>
    <% @parkingspots.each_slice(lot.width) do |row| %>
      <tr>
        <% row.each do |spot| %>
          <% if spot.spot_type=="handicap" && spot.status=="reserved" %>
              <% hCapImg = image_tag("reserved-handi.png", border: 0, :size => '67x67') %>
          <% elsif  spot.status=="reserved" %>
              <% hCapImg = image_tag("reserved.gif", border: 0, :size => '67x67') %>
          <% elsif  spot.spot_type=="handicap" %>
              <% hCapImg = image_tag("handicap.gif", border: 0, :size => '67x67') %>   
          <% elsif  spot.status=="taken" %>
              <% hCapImg = image_tag("taken.png", border: 0, :size => '67x67') %> 


          <% else %>
              <% hCapImg = image_tag("Transparency500.png", :size => '0x0')%>
          <%end%>
          <% count = count + 1 %>
          <% if count % (2*lot.width) == 0 %>
              <td class=spot.status id="spot">
                <%= link_to hCapImg, parkingspot_path(id: spot.id), id: spot.id, :onclick=>"spot()" %>
              </td>
            <tr></tr>
            <% for i in 0...lot.width %>
              <td></td>
            <% end %>
          <% else %>
              <td class=spot.status id="spot">
                <%= link_to hCapImg, parkingspot_path(id: spot.id), id: spot.id, :onclick=>"spot()" %>
              </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', root_path %>
