-#=link_to image_tag("parkinglot.jpg", border: 0, :size => '520x360'), parkingspot_path

%table#parkingspots
	%thead
	%tbody
		- lot = @parkinglot
		%tr
		- @parkingspots.each do |spot|
			- if spot.location % lot.rows == 0
				%tr
			%td= spot
= link_to 'Back', root_path

