-#=link_to image_tag("parkinglot.jpg", border: 0, :size => '520x360'), parkingspot_path

%table#parkingspots
	%thead
	%tbody
		- lot = @parkinglot
		- @parkingspots.each do |spot|
			%td= spot
			- if spot.id % lot.width == 0
				%tr
			
= link_to 'Back', root_path

