

&nbsp;

<div class="bb">
<h2> <span>Email: </span></h2> 
<p><%= @users.email %> </p>

&nbsp;

<h2>Name: </h2> 
<p><%= @users.name %> </p>
&nbsp;
<h2> License Plate Number: </h2>
<p><%= @users.LPN %> </p>
&nbsp;
</div>