&nbsp;
<div class="bb">
	<h2> <span>Email: </span></h2> 
	<p class="userinfo"><%= @users.email %> </p>
	&nbsp;
	<h2>Name: </h2> 
	<p class="userinfo"><%= @users.name %> </p>
	&nbsp;
	<h2> License Plate Number: </h2>
	<p class="userinfo"><%= @users.LPN %> </p>
	&nbsp;
</div>