// Place all the styles related to the message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#body_ {
    background-color: #d7d7d7;
    width: 25%;
    padding: 20px;
    border: 2px solid #592a6e;
    border-radius: 4px;
    color: black;
}

#recipient_ {
    background-color: #d7d7d7;
    border: 2px solid #592a6e;
    width: 200px;
    height: 30px;
}

#subject_ {
    background-color: #d7d7d7;
    border: 2px solid #592a6e;
    width: 200px;
    height: 30px;
}

#submit {
    padding: 0px;
    color: #141e2a;
    width: 100px;
    display: inline;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    background-color: #d7d7d7;
    border: 2px solid #592a6e;
    margin-left: 225px;
    margin-top: 10px;
}

#inbox {
    table-layout: fixed;
    width: 65%;
    border-collapse: collapse;
    text-align: center;

    a {
        font-weight: bold;
    }

    td {
        border: 2px solid #592a6e;
    }

    tr:nth-child(odd) {
        background-color: #483D8B;
    }

    tr:nth-child(even) {
        background-color: #7B68EE;
    }
}

span {
    font-weight: bold;
}

.conversation {
    border: 2px solid #592a6e;
    padding-bottom: 10px;
    background-color: #7B68EE;
    overflow: hidden;
    width: 50%;
}

.convoheading {
    border: 2px solid #592a6e;
    padding-left: 10%;

    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #483D8B;
    overflow: hidden;
    width: 50%;
}