// Place all the styles related to the parkingspot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#spotInfo {
	padding: 2ex;
	position: absolute;
	border: 2px double grey;
	background: grey;
}