// Place all the styles related to the parkinglot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	table-layout: fixed;
	width: 65%;
	border-collapse: collapse;
}

td {
	border-right: 12px solid grey;
	border-left: 12px solid grey;
	height: 75px;
}

td a {
	display: block;
	width: 100%;
	height: 100%;
}

// for middle horizontal line between 2 rows of spaces
tr:nth-child(odd) {
	td {
		border-bottom: 12px solid rgb(0,0,0);
	}
}

// for empty rows between pairs of spaces
tr:nth-child(4n) {
	border: 0px solid transparent;
	td {
		border-right: 0px solid transparent;
		border-left: 0px solid transparent;
	}
}

// get rid of horizontal lines where there shouldn't be any
tr:nth-child(4n - 1) {
	border: 0px solid transparent;
	border-bottom: 0px solid transparent;
}
