//=image_tag("stats.jpg", border: 0, :size => '520x360')

%p#total Total parking spots: #{@totalspots}
%p#available Available spots: #{@available}
%p#reserved Reserved spots: #{@reserved}
%p#taken Taken spots: #{@taken}
